<!--
<section data-sr="enter bottom move 20px over .5s and scale 0% and wait 0s">
    <div class="container">
        <div class="row mb64 mb-xs-32">
            <div class="col-sm-12 text-center">
                <div class="bg-secondary pt64 pb64">
                    <h4 class="uppercase mb16">Contact Us</h4>
                    <p>
                        Email us at contact@xs-yoga.com, or find us on wechat.
                    </p>
                </div>
            </div>
        </div><!--end of row-->
    </div><!--end of container-->
</section>
-->
<footer class="footer-2 bg-dark pt16 pb16 text-center">
    <div class="col-sm-2">
        &nbsp;
    </div>

    <div class="col-sm-8 text-center">
        <span class="fade-1-4">&copy; Copyright 2017 XS Yoga. All Rights Reserved.</span>
    </div>
</footer>
