<div class="nav-container">
	<nav>
		<div class="nav-utility">
			<div class="module left col-sm-12 col-xs-12 col-md-4 text-center-xs">
				<ul class="list-inline social-list">
                    <!--
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    -->
                    <li><a href="#"><i class="fa fa-wechat"></i></a></li>
                    <li><span class="sub">contact@xs-yoga.com</span></li>
                </ul>
            </div>

            <div class="module right">
            	<span class="sub">
                延平路223弄2号金兰苑203B室，（延平路/康定路口）
              </span>
            </div>
        </div>

        <div class="nav-bar text-center">
        	<div class="col-md-2 col-md-push-5 col-sm-12 text-center">
        		<a ui-sref="home">
        			<img alt="logo" src="images/site-logo.png" />
        		</a>
        	</div>

        	<div class="col-sm-12 col-md-5 col-md-pull-2">
        		<ul class="menu pull-right">
        			<li>
                <a  ui-sref="home" ui-sref-active="active">Home</a>
        			</li>
        			<li><a ui-sref="about" ui-sref-active="active">About Us</a></li>
        			<li><a href="news.html">Sale</a></li>
        		</ul>
        	</div>

        	<div class="col-md-5 col-sm-12 pb-xs-24">
        		<ul class="menu">
        			<li><a ui-sref="classes">Classes</a>
        				<ul>
                  <li><a ui-sref="classes/workshops">Workshops</a></li>
        					<li><a ui-sref="classes/packages">Packages</a></li>
        				</ul>
        			</li>
        			<li><a href="timetable.html">Timetable</a></li>
        			<li>
                <a ui-sref="location">Location / Contact</a>
        			</li>
        		</ul>
        	</div>
        </div>

        <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        	<i class="ti-menu"></i>
        </div>
    </nav>
</div>
