<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Timetable <small>(Subject to Change Weekly)</small></h2>
        <h4>Week: 27th Feb - 6th March</h4>
      </div>
      <div class="col-sm-12 text-center">
        <div class="tabbed-content button-tabs">
          <ul class="tabs mb64 mb-xs-24">
            <li ng-class="{active: timetable.isSelected(d)}"
                ng-repeat="d in timetable.days"
                ng-click="timetable.select(d)">
              <div class="tab-title">
                <span>{{d}}</span>
              </div>
            </li>
          </ul><!-- Tab buttons -->
          <ul class="content">
            <li class="active">
              <div class="tab-content">
                <div class="table-responsive">
                  <table class="table table-responsive mb0 timetable">
                    <thead>
                      <tr>
                        <th class="col-sm-2">Time</th>
                        <th class="col-sm-6">Class</th>
                        <th class="col-sm-2">Instructor</th>
                        <th class="col-sm-2">Book</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in timetable.selectedTimetable">
                        <td>{{row.time}}</td>
                        <td>{{row.class}}</td>
                        <td>{{row.instructor}}</td>
                        <td><a class="btn btn-white btn-filled mb0" href="#">Register</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          </ul></div><!--end of button tabs-->
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
