<div class="container">
  <h2>Trial Classes</h2>
  <p>
    We offer a selection of trial classes, so that you can be comfortable with us:
  </p>
  <ul class="bullets">
    <li><span>Aerial Yoga Trial Class</span></li>
    <li><span>Mixed Yoga Trial Class</span></li>
    <li><span>Pre/Post Natal Trial Class</span></li>
    <li><span>Personal One-on-One Instruction Trial Class (Any Type)</span></li>
  </ul>
  <p>
    There will be absolutely no pressure to purchase any package after a trial class.
    Just have fun and enjoy yourself!
  </p>
  <p>
    * Please note that trial classes are discounted, and you may only book once per class.
  </p>
  <br />

  <!-- Trial classes package description -->
  <section class="p0 image-bg package">
    <div class="container">
      <div class="col-md-12 pt24 package-description">
        <!-- Trial classes Types & Pricing -->
        <!-- Aerial -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <h5 class="uppercase">Aerial Yoga Trial</h5>
              </div>
              <div class="col-md-3">
                <a class="btn mb0" href="timetable.html">Book Now</a>
              </div>
            </div>
            <table class="table table-responsive table-bordered">
              <tr>
                <td class="col-md-5">Pricing</td>
                <td>¥ 110</td>
              </tr>
              <tr>
                <td>Class duration</td>
                <td>1 hour</td>
              </tr>
              <tr>
                <td>Class Size</td>
                <td>Maximum of 6</td>
              </tr>
              <tr>
                <td>Recommended Timings</td>
                <td>
                  Wednesday nights - 7.45 p.m.,<br />
                  Saturday afternoons - 3.15 p.m.
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h5 class="uppercase">View Gallery</h5>
            <ul class="grid-gallery">
              <li ng-repeat="image in trial.aerialImages">
                <a ng-click="trial.openLightboxModal(trial.aerialImages, $index)">
                  <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <!-- Land -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <h5 class="uppercase">Yoga Trial</h5>
              </div>
              <div class="col-md-3">
                <a class="btn mb0" href="timetable.html">Book Now</a>
              </div>
            </div>
            <table class="table table-responsive table-bordered">
              <tr>
                <td class="col-md-5">Pricing</td>
                <td>¥ 110</td>
              </tr>
              <tr>
                <td>Class duration</td>
                <td>1 hour</td>
              </tr>
              <tr>
                <td>Class Size</td>
                <td>Maximum of 10</td>
              </tr>
              <tr>
                <td>Recommended Timings</td>
                <td>
                  Check <a ui-sref="timetable">timetable</a> for preferred class
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h5 class="uppercase">View Gallery</h5>
            <ul class="grid-gallery">
              <li ng-repeat="image in trial.landImages">
                <a ng-click="trial.openLightboxModal(trial.landImages, $index)">
                  <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
                </a>
              </li>
            </ul>
          </div>
        </div>
        <br />
        <!-- Pre/PostNatal -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <h5 class="uppercase">Pre/Postnatal Yoga Trial (New)</h5>
              </div>
              <div class="col-md-3">
                <a class="btn mb0" href="timetable.html">Book Now</a>
              </div>
            </div>
            <table class="table table-responsive table-bordered">
              <tr>
                <td class="col-md-5">Pricing</td>
                <td>¥ 110</td>
              </tr>
              <tr>
                <td>Class duration</td>
                <td>1 hour</td>
              </tr>
              <tr>
                <td>Class Size</td>
                <td>Maximum of 6</td>
              </tr>
              <tr>
                <td>Recommended Timings</td>
                <td>Tuesday & Thursday mornings - 11:15 a.m.</td>
              </tr>
            </table>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h5 class="uppercase">View Gallery</h5>
            <p class="text-muted">No gallery available.</p>
          </div>
        </div>
        <br />
        <!-- Personal Training -->
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9">
                <h5 class="uppercase">Personal One-on-One Instruction Trial</h5>
              </div>
              <div class="col-md-3">
                <a class="btn mb0" href="timetable.html">Book Now</a>
              </div>
            </div>
            <table class="table table-responsive table-bordered">
              <tr>
                <td class="col-md-5">Pricing</td>
                <td>¥ 450</td>
              </tr>
              <tr>
                <td>Class duration</td>
                <td>1 hour</td>
              </tr>
              <tr>
                <td>Class Size</td>
                <td>1</td>
              </tr>
              <tr>
                <td>Recommended Timings</td>
                <td>
                  Weekday mornings: 9.00 a.m., 10.00 a.m.<br />
                  or contact instructor for preferred timings.
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-5 col-md-offset-1">
            <h5 class="uppercase">View Gallery</h5>
            <p class="text-muted">No gallery available.</p>
          </div>
        </div>
      </div><!--end of row-->
    </div><!--end of container-->

  </section>
  <br />
</div>
